
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome Fantasia</th>
        <th width="10%">CNPJ</th>
        <th width="10%">Contato</th>
        <th width="10%">Telefone</th>
      </tr>
    </thead>
    <tbody id="fornecedores_pedido">
      <%= render :partial => "pedidos/fornecedor", :collection => @pedido.fornecedores, :as => :fornecedor %>
    </tbody>
  </table>

  <%= link_to icon(:plus, :black, 'Selecionar Fornecedores'),
                   '#',
                   class: 'btn btn-default',
                   id: 'btn_add_fornecedor',
                   data: { url: pedido_new_fornecedor_path(@pedido) }  %>



<div class="modal fade" id="new_modal_fornecedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div class="modal fade" id="modal_show_fornecedor_pedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>