<tr>
  <td>
    <%= link_to fornecedor.nome_fantasia,
                fornecedor_path(fornecedor),
                data: {toggle: 'modal', target: "#modal_show_fornecedor_pedido"} %>
  </td>
  <td><%= fornecedor.cnpj %></td>
  <td><%= fornecedor.contato %></td>
  <td><%= fornecedor.telefone %></td>
</tr>