<div class="row">
    <% @pedido.itens.sem_lote.order(:numero).each do | i |  %>
    <div class="col-lg-6 col-mg-12">    
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><%= "#{i.numero_formatado} - #{i.descricao}" %></div>

        <!-- List group -->
        <ul class="list-group">
          <% i.item_propostas.order(:valor).each do | ip |%>
            <li class="list-group-item"><%= ip.try(:proposta).try(:fornecedor).try(:razao_social)%><span class="badge"><%=number_to_currency(ip.valor)%></span></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>