<%= simple_form_for(@tamanho) do |f| %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :nome, label: 'Nome' %>

    </div>
  </div>

  <%= f.button :submit, 'Salvar Tamanho', class: 'btn btn-primary' %>

<% end %>
