// Place all the styles related to the etiquetas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.etiqueta {
  a { color: #ccc; }

  &:hover {
    a { color: #888; }
  }
}