<%= simple_form_for(@colecao) do |f| %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :descricao, label: 'Descrição' %>

    </div>
  </div>

  <%= f.button :submit, 'Salvar Coleção', class: 'btn btn-primary' %>

<% end %>
