
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Editar Registro</h4>
</div>
<%= simple_form_for @registro, remote: true do |f| %>
  <div class="modal-body">

    <%= currency_group(f, :valor)  %>
    <%= f.input :descricao %>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Salvar Registro", class: 'btn btn-primary' %>
  </div>
<% end %>
